<div class="wrapper">
    <div class="form-group" id="formContent">
        <div>
            <br><br>
            <div class="fadeIn">
            </div><br>
            <h2>DISPLAY USER DETAILS</h2><br><br>
            <div>
                <button mat-raised-button color="Accent" (click)="signInWithGoogle()">Sign In with Google</button>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div>
                <button mat-raised-button color="Primary" (click)="signInWithFB()">Sign In with Google</button>
            </div>
            <br><br>
        </div>
    </div>

</div>