<div class="home-main">
    <!-- This is home -->
    <div>
        <mat-card class="example-card">
            <mat-card-content class="content-card">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="please enter country" aria-label="State" [matAutocomplete]="auto" style="color: gray;">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let country of countries" [value]="country">
                                <span>{{country}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <app-artist></app-artist>
    </div>
    <app-event></app-event>
</div>